:root {
  --profile-size: 15vw;
  --post-it-overlap: 1vw;
  --frame-height: calc(100vh - (var(--profile-size)/3));
  --right-frame-width: calc(132/1804 * var(--frame-height));
  --left-frame-width: calc(433/1804 * var(--frame-height));
  --frame-left-pad: calc(var(--profile-size) * 5/6);
  --frame-top-pad: calc(var(--profile-size)/3);
}

@font-face {
  font-family: 'Chalky';
  src: url('../fonts/CHALKY-REGULAR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background: 	#ced3d4;
    color: #333333;
    margin-top: 0rem;
  }
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

.profile-group {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--profile-size);           
  height: auto;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
  z-index: 5;
  }

.profile-pic, .profile-accessory {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.profile-accessory {
  pointer-events: none;
  filter: none;
}

  .profile-pic.flash {
  animation: flash-white 0.2s ease-out;
}

@keyframes flash-white {
  0% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1);
  }
}

.tab-list {
  position: fixed;
  top: var(--profile-size); /* adjust based on profile height */
  left: calc(var(--profile-size) * 1/3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2; /* higher than blue panel */
}

.post-it-tab {
  width: calc(var(--profile-size) * 2/3 + 1vw + var(--post-it-overlap));
  padding: 1vw;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  text-align: center;
  filter: brightness(100%);
  transition: ease;
  font-family: 'Chalky', sans-serif;
  font-size: 2vw;
}

.post-it-red {
  background-color: #ff7eb9;
}

.post-it-yellow {
  background-color: #fff68b;
}

.post-it-blue {
  background-color:#71d7ff;
}

.post-it-green {
  background-color:#cdfc93;
}

.post-it-purple {
  background-color: #ce81ff;
}

.post-it-tab:hover {
  filter: brightness(97%);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.scroll-area {
  top: var(--profile-size); /* adjust based on profile height */
  left: var(--profile-size);
}

/* Fixed-position side frames */
.frame-left,
.frame-right {
  position: absolute;
  top: var(--frame-top-pad);
  height:  var(--frame-height);
  width: auto;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.frame-left {
  left: var(--frame-left-pad);
}

.frame-right {
  right: 0;
}

/* Stretchable middle frame */
.frame-middle {
  position: absolute;
  top: var(--frame-top-pad);
  height: var(--frame-height);
  object-fit: fill;
  z-index: 0;
  pointer-events: none;
}


@media (max-width: 767) or (orientation: portrait) {
.post-it-tab {
    width: 5vw;
    height: var(--profile-size);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    border-radius: 12px;
    /* adjust styling to look trapezoidal */
  }
}